<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Hotel Sandor", root_path, class: "navbar-brand" %>
   

<ul class="navbar-nav ml-auto">

      <%= link_to root_path, class: "nav-link" do%>
      Gallery
      <% end %>

      <%= link_to contacts_path, class: "nav-link" do %>
        Contacts
      <% end %>
       
        

    </ul>
</nav>
